@page "/input-messages"
@attribute [Authorize]

<PageTitle>Входящие</PageTitle>

<div class="container mt-12">
    @if (mailMessages != null)
    {
        <MudExpansionPanels>
            @foreach (var mailMessage in mailMessages)
            {
                <MudExpansionPanel HideIcon="true">
                    <TitleContent>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <MudText>@mailMessage.FromUser</MudText>
                                <MudText Class="mx-4">@mailMessage.Topic</MudText>
                            </div>
                            <div>
                                <MudText Class="text-end">@mailMessage.CreatedDate.ToShortDateString()</MudText>
                            </div>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <div class="mt-3 mx-5">
                            <MudText>@((MarkupString)Markdig.Markdown.ToHtml(mailMessage.Body))</MudText>
                        </div>
                    </ChildContent>
                </MudExpansionPanel>
            }
        </MudExpansionPanels>
    }
    else
    {
        <div style="padding:50px; text-align:center;">
            <MudText Typo="Typo.h4">Идёт загрузка сообщений</MudText>
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        </div>
    }
</div>