@page "/write-message"
@attribute [Authorize]
@using AnonymousMail.Shared.Models

<MudOverlay Visible="_sendMessage" DarkBackground="true" Absolute="true">
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
</MudOverlay>

<div class="container mt-5">
    @if (_sendMessage == false)
    {
        <div class="mt-2">
            <MudAutocomplete T="User"
                         Placeholder="Кому"
                         ValueChanged="t => { MailMessage.ToUserId = t.Id; }"
                         ToStringFunc="@(e => e.Username)"
                         SearchFunc="@SearchUsersAsync"
                         AdornmentIcon="@Icons.Material.Filled.Search"
                         AdornmentColor="Color.Primary"
                         Variant="Variant.Outlined"
                         SelectValueOnTab="true"
                         Margin="Margin.Dense" />
        </div>
        <div class="mt-2">
            <MudTextField Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="MailMessage.Topic" Placeholder="Тема" />
        </div>
        <div class="mt-2">
            <MarkdownEditor @bind-Value="MailMessage.Body" Placeholder="Тело сообщения" SpellChecker="false" />
        </div>
        <div class="mt-2" style="display: flex; justify-content: flex-end;">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="SendMessageAsync">Отправить</MudButton>
        </div>
    }
</div>